.titulo-amarillo {
    color: #ffcd6a;
  }
  .nav-azul {
    background-color: #065471 !important;
  }
  .btn-amarillo {
    color: #065471;
    background-color: #ffcd6a;
    font-weight: bolder;
    border-radius: 20px;
    border-color: #ffcd6a;
  }
  
  .footer-azul {
    background-color: #065471 !important;
    height: auto;
    color: white;
    padding: 0px;
    margin-top: 0px;
  }
  
  .footer-azul h4 {
    margin: 0;
  }
  
  /* footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
  } */
  