.form-actividad {
  background-color: #f4d69eb9;
  min-height: 100px;
  /* margin: 20px 380px 20px 380px; */
  border-radius: 20px;
  padding: 20px 50px 50px 50px;
}
.form-control {
  border-radius: 12px;
  text-align: center;
  border: 0.4px solid #000;
}

.form-control input::placeholder {
  text-align: center;
  color: #50879f;
}

.form-select {
  border-radius: 12px;
  text-align: center;
  border: 0.4px solid #000;
}

.form-select input::placeholder {
  text-align: center;
  color: #50879f;
}

.form-text-area {
  border-radius: 12px;
  text-align: center;
  border: 0.4px solid #000;
  /* width: 415px; */
}

button {
  width: 40%;
  border-radius: 20px;
}

.container {
  font-size: large;
}