.franja-amarilla{
    background-color: #ffcd6a!important;
    width: auto;
    height: 10px;
    margin: 0%;
}
/*div de informacion*/
.fondo{
    
    background-color: #a73e3e!important;
    background: linear-gradient(rgba(196, 224, 235, 0.87),  rgba(187, 226, 233, 0.815)),  url("../../../assets/img/inicio/810.jpg")!important;
    
    background-repeat: no-repeat;
    background-size: 500px auto!important;
    background-size: 50% 50%;
    color: blueviolet;
}

.bottom{
    position:sticky; }
.perfil-img{
    width: 150px;
    height: 150px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
    background-image: url(../../../assets/img/perfiles-temporal/perfil1.png);
}
.fondo-azul{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 350px;
    margin-top: 25px;

}

.btn-perfil{
    background-color: #065471;
    color: #ffcd6a;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 100px;
}
.div-cuerpo{
    margin-top: 15px;
}
.icon-enlace{
    margin: 5px;
    margin-right: 15px;
}
.txt-enlace{
    font-size: 1.5rem;
    text-align: start;
    margin-top: 15px;
    font-weight: bolder;
    color: #065471;
}
.txt-enlace:hover{
    font-size: 1.5rem;
    text-align: start;
    margin-top: 15px;
    font-weight: bolder;
    color: #065471;
}

.div-cookies{
    margin-top: 150px;
    margin-bottom: 20px;
}
.span-multi{
    margin: 20px;
    text-align: start!important;
    color: #065471;
    font-weight: bold;
}
/*div de la informacion*/


/*div de las actividades*/
.div-busqueda{
    text-align: center;
    background-color: #CDDDE4;
}

.input-busqueda{
    background-color: #51889F; 
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}
::placeholder {
    color: #ffcd6a;
    font-size: 1.1em;
    text-align: center;
    font-weight: bolder;
  
  }
  .span-filtro:hover{
    color: #065471;
    font-weight: bolder;
    transition-delay: 0.25s;
  }

  .div-actividad{
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: #9BBBC9;
    border-radius: 25px;
    color: #065471;
    text-align: start;
  }
  .span-contenido-act{
    font-weight:500;
    margin-right: 45px;
  }
  .div-imagen-act{
    width: 50%;
    height: 10px;
  }
  .div-card-url{
    background-image: url(../../../assets/img/economiahonduras.jpg);
  }
  .btn-actividad{
    background-color: #FFCD6A;
    border-radius: 25px;
    width: 250px;
    margin-left: 20px;
  }
/*div de las actividades*/


/*Lado derecho*/
.derecho{
    background:rgba(6, 84, 119, 0.2);
    height: 1042px;
    width: 66%;
    float: right;
    margin-left: 5px;

}
.derecho h2{
    text-align: center;
    margin-top: 5px;

}

.contenedor h3{
    text-align: center;
}
.contenedor{
    background: rgba(240, 245, 245, 0.48);
    width: 80%;
    height: 630px;
    margin-top: 20px;
    margin-left: 10%;
    border-radius: 20px;
}
.contenedor li{
    float: left;
    padding: 10px;
    font-size: 20px;
}

.derecho li{
    list-style: none;
}

.viewport{
    margin-top: 50px;
    height: 85%;
    width: 95%;
    margin-left: 2%;
    border-color: black;
    border: 1px  black;
}
 
 .contenedor img{
    display: block;
    width: 80%;
    height: 450 px;
    margin: 2px auto;
    border-radius: 10px;

 }


   .contenedor li{
    text-align: center;
    font-size: 20px;
 }
 .d-flex {
    margin-top: 18px;
    margin-right: 20px;
 }