<!DOCTYPE html>
<html>

<header>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</header>
<body id="content">

  <div class="slider">
    <div class = "slider-track">

      <div class="slide">
        <div class="Texto-encima"> JUEGOS ORGANIZADOS</div>
        <img src = "../assets/img/landin/ajedrez.jpg" alt="">
      </div>

      <div class="slide">
          <div class="Texto-encima"> COMPETENCIAS DEPORTIVAS</div>
        <img src = "../assets/img/landin/carrera.webp" alt="">

      </div>

      <div class="slide">
        <div class="Texto-encima">CONFERENCIAS CIENTIFICAS</div>
        <img src = "../assets/img/landin/cientifico.webp" alt="">

      </div>

      <div class="slide">
        <div class="Texto-encima">CONFERENCIAS DE INGENIERÍA</div>
        <img src = "../assets/img/landin/seguridadweb.png" alt="">
      </div>

      <div class="slide">
        <div class="Texto-encima">APRENDE SOBRE EL IDIOMA</div>
        <img src = "../assets/img/landin/maxresdefault.jpg" alt="">
      </div>

      <div class="slide">
        <div class="Texto-encima">CONFERENCIAS ARTISTICAS</div>
        <img src = "../assets/img/landin/musica.webp" alt="">
      </div>

      <div class="slide">
        <div class="Texto-encima">CAMPAÑAS DE RECICLAJE</div>
        <img src = "../assets/img/landin/reciclaje.jpg" alt="">
      </div> 

      <div class="slide">
        <div class="Texto-encima"></div>
        <div class="Texto-encima">SALUD MENTAL</div>
        <img src = "../assets/img/landin/mental.png" alt="">
      </div>

      <div class="slide">
        <div class="Texto-encima"> CONFERENCIAS EDUCATIVAS</div>
        <img src = "../assets/img/landin/conferencia.jpg" alt="">
      </div>

      <div class="slide">
        <div class="Texto-encima">HISTORIA DE HONDURAS</div>
        <img src = "../assets/img/landin/historia.jpg" alt="">
      </div>
    </div>
  </div>

      <div class="principal"> 
        <img  class="img-responsive" src="assets/img/fondo_body.jpg">
       </div>
      
<div class="mision">
    <h2>Mision</h2>
    <p>
      Conexion Voae brinda un medio donde los estudiantes podran 
      acceder a distintas actividades para acumular horas en diferentes 
      ambitos de manera sencilla y rapida.
    </p>
  </div>
       
  <div class="vision">
    <h2>Vision</h2>
    <p>
      Ser una plataforma de acceso al aprendizaje y buscando 
      optimizar el tiempo de los estudiantes en el cumplimiento 
      de sus requisitos de graduación.
    </p> 
  </div>    

  <div class="ini_sesion">
    <button class="iniciar" type="submit" routerLink="/login">INICIAR SESION</button>
  </div>
  <div class="registrar">
    <button  class="registrate" type="submit" routerLink="/registrar-usuario">REGISTRATE</button>
  </div>
  

  

</body>

</html>